.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.wrapper button{
    padding: 10px 20px;
    background-color: #c73030;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}

.accordian{
    width: 500px;
}

.item{
    background-color: #c73030;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.title{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.content{
    color:#fff;
    height: auto;
}